.search{
    text-align:start ;
    background-color: rgb(3, 53, 3);
    color: white;
    justify-content: center;
    border:  rgb(6, 88, 6);
    align-items: center;
    width: 60px;
    height:30px;

}
.form-control{
width:150px;
}
.searchbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.searchbox select {
  width: 150px; /* Set a specific width for the select elements */
  margin-right: 10px;
}
.rowRecipe{
  display: flex;
  flex-wrap: wrap;
}
.btn{
  margin-top: 10px;
  border-color: rgb(3, 53, 3);
  color:rgb(3, 53, 3) ;
}
.btn:hover{
  background-color:rgb(3, 53, 3) ;
  color:white;
}