<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Edit Recipe</h4>


            <form [formGroup]="this.addForm">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">name</span>
                    </div>
                    <input name="" class="form-control" formControlName="nameRecipe" type="text">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">img </span>
                    </div>
                    <input name="" class="form-control" formControlName="urlImage" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">category </span>
                    </div>
                    <input name="" class="form-control" type="text" formControlName="categoryId">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">time </span>
                    </div>
                    <input name="" class="form-control" type="number" formControlName="preparationTime">
                    
                </div>
               <!-- List of Ingredients -->
<div formArrayName="listIngredients">
    <span class="input-group-text">listIngredients </span>
    <div *ngFor="let control of listIngredients.controls; let i = index">
      <input class="form-control" [formControlName]="i" placeholder="Ingredient {{ i + 1 }}">
    </div>
  </div>
  <button type="button" class="btn btn-primary add" (click)="onAddIngredient()">+</button>
  
  
    
  <div formArrayName="preparation">
    <!-- <div class="input-group-prepend"> -->
        <span class="input-group-text">Preparation </span>
    <div *ngFor="let control of preparationArray.controls; let i = index">
      <input class="form-control" [formControlName]="i" placeholder="Step {{ i + 1 }}">
     
    </div>
  </div>
    <!-- </div> -->

  <button type="button" class="btn btn-primary add" (click)="onAddPreparation()">+</button>
                  
                 
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block cencel"  (click)="cancel()"> Cancel </button>
                    <button type="submit" class="btn btn-primary btn-block save" (click)="save()"> Save changes </button>
                </div>
           
            </form>
        </article>
    </div>

</div>